* {
    box-sizing: border-box;
  }

  #map {
    width: 80%;
    height: 100%;
    position: relative;
  }

  #sidebar {
    width: 20%;
    height: 100%;
    position: relative;

  }

  body {
    height: 100%;
    margin: 0%;
  }

  html {
    height: 100%;
  }

  .flexcontainer {
    height: 100%;
    display: flex;
  }

  h1{
    background-image: linear-gradient(purple, lightblue, pink);
    margin: 0;
    padding: 1%;
  }  

  h1 > span, h1 > input {
    padding: 1%;
    border-radius: max(3vw, 3vh);
    height: max(4vw, 4vh);
    min-width: max(4vw, 4vh);
    text-align: center;
    display: inline-block;
    line-height: max(2vw, 2vh);
    font-size: max(2vw, 2vh);
    vertical-align: middle;
    margin-left: 1vw;
  }

  #button:hover {
    cursor: pointer;
  }

  #ref {
    background-color: black;
  }